body {
  background: #000000;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
    margin-top: 150px;
    margin-bottom: 250px;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height:40%;
}
a{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .6vw;
    padding-bottom: 0vw;
    margin-bottom: 8px;
}
h5{
  color: red;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
